@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Users";
}

<h1 class="text-info"> Users</h1>
<table class="table table-bordered table-striped hover mt-4">
    <thead class="bg-info text-white ">
        <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>user Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>

    </thead>
    <tbody>
        @foreach (var User in Model)
        {
            <tr>
                <td>@User.FirstNmae</td>
                <td>@User.LastName</td>
                <td>@User.UserName</td>
                <td>@User.Email</td>
                <td>@User.FirstNmae</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>